<style>
#content a.btn {
     background-image: linear-gradient(15deg, #155799, #159957);
}
     #phone_gallery {
          text-align:center;
     }
 #phone_gallery .phone {
     width:calc(100% / 3);
     display: inline-block;
     padding:2%;
     vertical-align: top;
}
     a.btn.highlight {
    background-color: rgba(255,255,255,.85);
    color: #155799;
    font-weight: bold;
}
 @media only screen and (max-width: 600px) {
     #phone_gallery .phone {
         width: calc(100% / 2 - 5%);
    }
      .page-header>a.btn {
               width: 48%;
               display: inline-block;
               margin: 0.2rem 0 0.2rem !important;
      }
      body.not_homepage .project-name img {
           width:25%;
      }
      .project-tagline {
         margin-bottom: 0.2rem;
     }
      .page-header {
         padding: 3rem 1rem 0.2rem;
     }      
}
 @media screen and (min-width: 64em) {
     .page-header {
         padding: 5rem 6rem 0;
    }
}
     
.lightbox {
  /* Default to hidden */
  display: none;

  /* Overlay entire screen */
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  /* A bit of padding around image */
  padding: 1em;

  /* Translucent background */
  background: rgba(0, 0, 0, 0.8);
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
  display: block;
}

.lightbox span {
  /* Full width and height */
  display: block;
  width: 100%;
  height: 100%;

  /* Size and position background image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
     
.fixed-nav-bar {
     position: fixed;
     align-items: flex-end;
     justify-content: flex-start;
     top: 0;
     left: 0;
     z-index: 9999;
     width: 100%;
     height: 40px;
     background-color: white;
     box-shadow: 0px 0px 10px grey;
     line-height: 40px;
     text-align: center;
     font-size: 85%;
}
.page-header  {
     background-color:#303030;
     background-image: unset;
}
.page-header .btn  {
     background-color:White;
     color:Black;
     font-weight: bold;
}
     .blocks {
          text-align:center;
     }
     .block {
          width: calc(100% /2 - 100px) !important;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid black;
     }
     @media screen and (min-width: 64em)
.main-content {
   
    font-size: 1.0rem;
}
     ul li { position:relative;left:20px}
</style>
<meta property="og:image" content="https://user-images.githubusercontent.com/1282106/149672898-92151184-353d-4b62-b923-86ea2b3fc8f1.jpeg" />
