<style>
#content a.btn {
     background-image: linear-gradient(15deg, #155799, #159957);
}
     #phone_gallery {
          text-align:center;
     }
 #phone_gallery .phone {
     width:calc(100% / 3);
     display: inline-block;
     padding:2%;
     vertical-align: top;
}
     a.btn.highlight {
    background-color: rgba(255,255,255,.85);
    color: #155799;
    font-weight: bold;
}
 @media only screen and (max-width: 600px) {
     #phone_gallery .phone {
         width: calc(100% / 2 - 5%);
    }
      .page-header>a.btn {
               width: 48%;
               display: inline-block;
               margin: 0.2rem 0 0.2rem !important;
      }
}
 @media screen and (min-width: 64em) {
     .page-header {
         padding: 5rem 6rem 0;
    }
}
</style>
<meta property="og:image" content="https://user-images.githubusercontent.com/1282106/149672898-92151184-353d-4b62-b923-86ea2b3fc8f1.jpeg" />
